import 'dart:convert';

import '../api_helper.dart';
import 'authentication.dart';

class HttpBasicAuth implements Authentication {

  String username;
  String password;

  @override
  void applyToParams(List<QueryParam> queryParams, Map<String, String> headerParams) {
    final String str = "${username ?? ""}:${password ?? ""}";
    headerParams["Authorization"] = "Basic ${base64.encode(utf8.encode(str))}";
  }

}
