// ignore_for_file: unused_import, prefer_final_locals, prefer_interpolation_to_compose_strings, directives_ordering, curly_braces_in_flow_control_structures

{{#modelImports}}import 'package:{{pubName}}/model/{{.}}.dart';
{{/modelImports}}
{{#fullImports}}import '{{.}}';
{{/fullImports}}

import '../api_exports.dart';

{{#operations}}


class {{classname}} {
  final ApiClient apiClient;

  {{classname}}([ApiClient apiClient]) : apiClient = apiClient ?? defaultApiClient;

  {{#operation}}
  /// {{summary}} with HTTP info returned
  ///
  /// {{notes}}
  Future<Response>{{nickname}}WithHttpInfo({{#allParams}}{{#required}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/required}}{{/allParams}}{{#hasOptionalParams}}{ {{#allParams}}{{^required}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/required}}{{/allParams}} }{{/hasOptionalParams}}) async {
    Object postBody{{#bodyParam}} = {{paramName}}{{/bodyParam}};

    // verify required params are set
    {{#allParams}}
      {{#required}}
    if({{paramName}} == null) {
     throw ApiException(400, "Missing required param: {{paramName}}");
    }
      {{/required}}
    {{/allParams}}

    // create path and map variables
    final String path = "{{{path}}}".replaceAll("{format}","json"){{#pathParams}}.replaceAll("{" + "{{baseName}}" + "}", {{{paramName}}}.toString()){{/pathParams}};

    // query params
      final List<QueryParam> queryParams = [];
      final Map<String, String> headerParams = {};
      final Map<String, String> formParams = {};
    {{#queryParams}}
    {{^required}}
    if({{paramName}} != null) {
    {{/required}}
      queryParams.addAll(convertParametersForCollectionFormat("{{collectionFormat}}", "{{baseName}}", {{paramName}}));
    {{^required}}
    }
    {{/required}}
    {{/queryParams}}
    {{#headerParams}}
    headerParams["{{baseName}}"] = {{paramName}};
    {{/headerParams}}

      final List<String> contentTypes = [{{#consumes}}"{{{mediaType}}}"{{#hasMore}},{{/hasMore}}{{/consumes}}];

      final String nullableContentType = contentTypes.isNotEmpty ? contentTypes[0] : null;
    const List<String> authNames = [{{#authMethods}}"{{name}}"{{#hasMore}}, {{/hasMore}}{{/authMethods}}];

    if(nullableContentType != null && nullableContentType.startsWith("multipart/form-data")) {
      var hasFields = false;
      MultipartRequest mp = MultipartRequest(null, null);
      {{#formParams}}
      {{^isFile}}
      if ({{paramName}} != null) {
        hasFields = true;
        mp.fields['{{baseName}}'] = parameterToString({{paramName}});
      }
      {{/isFile}}
      {{#isFile}}
      if ({{paramName}} != null) {
        hasFields = true;
        mp.fields['{{baseName}}'] = {{paramName}}.field;
        mp.files.add({{paramName}});
      }
      {{/isFile}}
      {{/formParams}}
      if(hasFields) {
      postBody = mp;
        }

    }
    else {
      {{#formParams}}
      {{^isFile}}
      if ({{paramName}} != null)
        formParams['{{baseName}}'] = parameterToString({{paramName}});
      {{/isFile}}
      {{/formParams}}
    }

    final response = await apiClient.invokeAPI(path,
                                             '{{httpMethod}}',
                                             queryParams,
                                             postBody,
                                             headerParams,
                                             formParams,
                                             nullableContentType,
                                             authNames);
    return response;
  }

  /// {{summary}}
  ///
  {{#allParams}}
  ///{{dataType}} {{paramName}} {{#required}} (required){{/required}}{{#optional}}(optional){{/optional}}:
  ///    {{#description}} {{{description}}}{{/description}}
  {{/allParams}}
  /// {{notes}}
  {{#returnType}}Future<{{{returnType}}}> {{/returnType}}{{^returnType}}Future {{/returnType}}{{nickname}}({{#allParams}}{{#required}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/required}}{{/allParams}}{{#hasOptionalParams}}{ {{#allParams}}{{^required}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/required}}{{/allParams}} }{{/hasOptionalParams}}) async {
      final Response response = await {{nickname}}WithHttpInfo({{#allParams}}{{#required}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/required}}{{/allParams}}{{#hasOptionalParams}} {{#allParams}}{{^required}}{{paramName}}: {{paramName}}{{#hasMore}}, {{/hasMore}}{{/required}}{{/allParams}} {{/hasOptionalParams}});
    if(response.statusCode >= 400) {
      throw ApiException(response.statusCode, decodeBodyBytes(response));
    } else if(response.body != null) {
        return {{{vendorExtensions.x-deserializer}}};
    } else {
      return{{#returnType}} null{{/returnType}};
    }
  }

  {{/operation}}
}
{{/operations}}
