// ignore_for_file: directives_ordering

library {{pubName}}.api;

{{#apiInfo}}{{#apis}}export 'api/{{classFilename}}.dart';
{{/apis}}{{/apiInfo}}
{{#models}}{{#model}}export 'model/{{classFilename}}.dart';
{{/model}}{{/models}}


