// ignore: unused_import
import 'package:meta/meta.dart';

{{#models}}
    {{#model}}
        {{#imports}}
            import '{{.}}';
        {{/imports}}
        {{#isEnum}}{{>enum}}{{/isEnum}}{{^isEnum}}{{>class}}{{/isEnum}}
    {{/model}}
{{/models}}